@layer utilities {
  .container {
    @apply max-w-[1380px] mx-auto px-4 sm:px-6 lg:px-8;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: hsl(var(--muted-background));
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--text-muted));
  }
}